.DetailsPageContainer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}

.VenueDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}

.VenueImageContainer {
  flex-basis: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}


.VenueImageContainer img {
  width: 100%;
  height: auto;
  max-width: 900px; 
  max-height: 700px; 
  margin-top: 30px;
  object-fit: cover;
}

.VenueInfoContainer {
  flex-basis: 100%;
  text-align: left;
}

.VenueInfoContainer h1 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.VenueInfoContainer p {
  text-align: left;
}

.EditDeleteContainer {
  margin: 10px 0;
  text-align: center;
}

/* Style for buttons */
.EditDeleteContainer button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.EditDeleteContainer button:hover {
  background-color: #333;
}

.EditContainer {
  display: inline-block;
}

/* ConcertDetails*/

.ConcertDetailsImageContainer {
  flex-basis: 100%;
  margin-top: 30px;
  overflow: hidden;
}

.ConcertDetailsImageContainer img {
  min-width: 900px;
  min-height: 500px;
  max-width: 900px;
  max-height: 500px;
  object-fit: cover;
  margin-bottom: 30px;
}


.ConcertDetailsContainer {
  max-width: 1600px;
  margin: 0 auto; 
}

.InfoRow {
  display: flex;
  margin-bottom: 10px; 
}

.InfoRow h3 {
  margin-right: 10px; 
}

p {
  word-break:normal;
  white-space: normal;
  text-align: justify;
}

.ArtistsP {
  text-align: left;
}

.DetailsSpans {
  font-size: 22px;
}


.VenueDetailsButtonDiv {
  margin: 10px 0; 
}

.VenueDetailsButton {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.VenueDetailsButton:hover {
  background-color: #333;
}

/* Responsive styles */
@media (min-width: 768px) {

  .ConcertDetailsContainer {
    max-width: 100%;
    margin: 0 auto; 
  }

  .ConcertDetailsImageContainer img {
    min-width: 100%;
    min-height: 500px;
    max-width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-bottom: 30px;
  }
  
  .VenueImageContainer {
    flex-basis: 40%;
    max-width: 1000px;
    margin-right: 20px;
  }

  .VenueInfoContainer {
    flex-basis: calc(60% - 20px);
  }

  
}

/* mobil + */
@media (max-width: 767px) {

  .ConcertDetailsContainer {
    max-width: 100%;
    margin: 0 auto; 
  }

  .ConcertDetailsImageContainer img {
    min-width: 100%;
    min-height: auto;
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
    margin-bottom: 30px;
  }

  .VenueImageContainer {
    max-width: 100%;
  }

  .VenueImageContainer img {
    width: 100%;
    height: auto;
  }
}