/*VenueListPage.css*/

@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@600&display=swap");

/* Container styles */
.VenueListPageContainer {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Afacad", sans-serif;
}

/* Search bar styles */
.SearchBarDiv {
    text-align: center;
    margin-bottom: 20px;
}

.search {
    font-size: 18px;
    display: inline-block;
}

/*.inpt_search {
  padding: 10px; 
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background-color: #fff; 
  color: #555; 
}*/

/* Venue container styles */
.VenueContainer {
    width: 340px;
    margin: 20px 20px 30px 10px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    font-family: "Afacad", sans-serif;
}

/* Images fill in a fixed size */
.VenueContainer img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.5s ease-in-out;
}

/* Hover effect on the VenueContainer */
.VenueContainer:hover img {
    transform: scale(1.1);
}

.VenueContainer h2 {
    font-size: 16px;
    margin: 10px 0 0;
    color: rgb(255, 255, 255);
}

.VenueLocation {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
    font-family: "Afacad", sans-serif;
}

.RowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 74px;
    margin: 24px 0;
}

.plusButton {
    --plus_sideLength: 2.5rem;
    --plus_topRightTriangleSideLength: 0.9rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: var(--plus_sideLength);
    height: var(--plus_sideLength);
    background-color: #000000;
    overflow: hidden;
    margin-left: 20px;
    border-radius: 50%;
}

.plusButton::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
    border-style: solid;
    border-color: transparent white transparent transparent;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}

.plusButton:hover {
    cursor: pointer;
}

.plusButton:hover::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton:focus-visible::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton > .plusIcon {
    fill: white;
    width: calc(var(--plus_sideLength) * 0.7);
    height: calc(var(--plus_sideLength) * 0.7);
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.plusButton:hover > .plusIcon {
    fill: black;
    transform: rotate(180deg);
}

.plusButton:focus-visible > .plusIcon {
    fill: black;
    transform: rotate(180deg);
}

/* ConcertListPage.css */

/* Container styles */
.ConcertListPageContainer {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.inputOutContainer {
    margin: 0 10px;
}

.inpt_search {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #555;
}

/* Concert container styles */
.ConcertImageContainer {
    width: 340px;
    margin: 20px 20px 30px 10px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

.ConcertImageContainer img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.5s ease-in-out;
}

/* Hover effect on the ConcertImageContainer */
.ConcertImageContainer:hover img {
    transform: scale(1.1);
}

.ConcertImageContainer h2 {
    font-size: 16px;
    margin: 10px 0 0;
    color: rgb(255, 255, 255);
}

/* Responsive - changes after the breaking points */
@media screen and (max-width: 1080px) {
    .VenueContainer {
        width: calc(100% - 40px);
        margin: 0 20px 30px 20px;
    }

    .inpt_search {
        width: 100%;
    }

    .RowContainer {
        flex-direction: column;
    }

    .inputContainer {
        margin-bottom: 15px !important;
    }

    .SearchContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px !important;
    }

    .search {
        margin: 0;
        margin-bottom: 15px;
    }

    .plusButton {
        margin: 0;
    }

    .VenueListPageContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ConcertListPageContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        margin: 0;
        max-width: 360px;
    }

    .ConcertImageContainer {
        margin: 0 auto;
    }
}

/* Responsive - changes after the breaking points */
@media screen and (max-width: 900px) {
    .ConcertListPageContainer {
        display: flex;
        padding: 20px;
        margin: 0;
        max-width: 360px;
    }

    .ConcertImageContainer {
        margin: 15px auto;
    }
}
