/*VenueListPage.css*/

/* Container styles */
.VenueListPageContainer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}

/* Search bar styles */
.SearchBarDiv {
  text-align: center;
  margin-bottom: 20px;
}

.search {
  font-size: 18px;
  display: inline-block;
  margin-bottom: 12px;
  margin-top: 12px;
  color: #fff; 
}

/*.inpt_search {
  padding: 10px; 
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background-color: #fff; 
  color: #555; 
}*/

/* Venue container styles */
.VenueContainer {
  width: 340px;
  margin: 20px 20px 30px 10px;
  display: inline-block;
  vertical-align: top;
  text-align: left; 
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
}

/* Images fill in a fixed size */
.VenueContainer img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.5s ease-in-out;
  
}

/* Hover effect on the VenueContainer */
.VenueContainer:hover img {
  transform: scale(1.1); 
}

.VenueContainer h2 {
  font-size: 16px;
  margin: 10px 0 0;
  color: rgb(255, 255, 255);
}

/* Responsive - changes after the breaking points */
@media (max-width: 768px) {
  .VenueContainer {
    width: calc(100% - 40px);
    margin: 0 20px 30px 20px;
  }

  .inpt_search {
    width: 100%;
  }
}

.RowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}





/* ConcertListPage.css */

/* Container styles */
.ConcertListPageContainer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}

/* Search bar styles */
.SearchBarDiv {
  text-align: center;
  margin-bottom: 20px;
}

.search {
  font-size: 18px;
  display: inline-block;
  margin-bottom: 12px;
  margin-top: 12px;
  color: #fff;
}

.inpt_search {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #555;
}

/* Concert container styles */
.ConcertImageContainer {
  width: 340px;
  margin: 20px 20px 30px 10px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
}

.ConcertImageContainer img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.5s ease-in-out;
  
}

/* Hover effect on the ConcertImageContainer */
.ConcertImageContainer:hover img {
  transform: scale(1.1);
}

.ConcertImageContainer h2 {
  font-size: 16px;
  margin: 10px 0 0;
  color: rgb(255, 255, 255);
}

/* Responsive - changes after the breaking points */
@media (max-width: 768px) {
  .ConcertImageContainer {
    width: calc(100% - 40px);
    margin: 0 20px 30px 20px;
  }

  .inpt_search {
    width: 100%;
  }
}
