#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    text-align: center;
    background-color: #242424;
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*

    CONCERT LIST PAGE

*/

.ConcertListPageContainer {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.ConcertImageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 110px;
}

.VenueDetailsImageDiv img,
.ConcertDetailsImageDiv img,
.ConcertImageDiv img {
    display: flex;
    width: 500px;
    height: 250px;
    border: 3px solid white;
    object-fit: cover;
    border-radius: 30px;
    margin: 10px
}

/*

    CONCERT DETAILS PAGE

*/

.ConcertPageContainer {
    display: flex;
    flex-direction: column;
}

.ConcertPageTitle {
    margin: 100px;
}

/*

    CONCERT/VENUE DETAILS

*/

.ConcertDetailsContainer,
.VenueDetailsContainer {
    display: flex;
    justify-content: center;
}

/* .VenueDetailsImageDiv img,
.ConcertDetailsImageDiv img {
    width: 460px;
} */

/*

    CONCERT DETAILS

*/

.ConcertDetailsInfoDiv {
}

/*

    VENUE DETAILS

*/

.VenueDetailsButtonDiv {
    text-align: center;
}

.VenueDetailsButton {
    width: 100px;
}

.VenueDetailsContainer.show {
    display: flex;
}

.VenueDetailsContainer.hide {
    display: none;
}
