#root {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    text-align: center;
    background-color: #242424;
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.Navbar {
    margin: 50px 0;
}

.AddConcertPage {
    display: flex;
    justify-content: space-evenly;
}

/*

    CONCERT LIST PAGE

*/

.ConcertListPageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px;
}

.ConcertImageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 110px;
    position: relative;
}

.ConcertImageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 450px;
    border-radius: 30px;
    margin: 30px 30px;
    position: relative;
}

.VenueDetailsImageDiv img,
.ConcertDetailsImageDiv img,
.ConcertImageDiv img {
    display: flex;
    width: 350px;
    height: 450px;
    border: 3px solid white;
    object-fit: cover;
    border-radius: 30px;
    margin: 10px;
    transition: 0.2s;
}

.ConcertImageDiv img:hover {
    width: 360px;
    height: 460px;
    transition: 0.2s;
}

/*

    CONCERT DETAILS PAGE

*/

.ConcertPageContainer {
    display: flex;
    flex-direction: column;
}

.ConcertPageTitle {
}

/*

    CONCERT/VENUE DETAILS

*/

.AddConcertContainer,
.ConcertDetailsContainer,
.VenueDetailsContainer {
    display: flex;
    justify-content: center;
}

/* .VenueDetailsImageDiv img,
.ConcertDetailsImageDiv img {
    width: 460px;
} */

/*

    CONCERT DETAILS

*/

.ConcertDetailsInfoDiv {
}

/*

    VENUE DETAILS

*/

.VenueDetailsButtonDiv {
    text-align: center;
}

.VenueDetailsButton {
    width: 100px;
}

.EditContainer.show,
.VenueDetailsContainer.show {
    display: flex;
}

.EditContainer.hide,
.VenueDetailsContainer.hide {
    display: none;
}

/*

    ARTIST PAGE

*/
.TitleSpan,
.BgDiv {
    position: absolute;
    z-index: 1;
}

.TitleSpan {
    display: none;
    pointer-events: none;
    color: white;
    font-size: 2rem;
}

.BgDiv:hover {
    opacity: 0.7;
}

.BgDiv:hover + .TitleSpan {
    display: block;
}

.BgDiv {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #351a79;
    opacity: 0;
    border-radius: 30px;
}







