@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@600&display=swap');

#root {
    max-width: 100%;
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
}

body {
    text-align: center;
    background-color: #0a0a0a;
    font-family: 'Afacad', sans-serif !important;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.AddConcertPage {
    display: flex;
    justify-content: space-evenly;
}

/*

/*

    CONCERT DETAILS PAGE

*/

.ConcertPageContainer {
    display: flex;
    flex-direction: column;
}

.ConcertPageTitle {
}

/*

    CONCERT/VENUE DETAILS

*/

.AddConcertContainer,
.ConcertDetailsContainer,
.VenueDetailsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* .VenueDetailsImageDiv img,
.ConcertDetailsImageDiv img {
    width: 460px;
} */

/*

    CONCERT DETAILS

*/

.ConcertDetailsInfoDiv {
    max-width: 900px;
    text-align: left;
}

/*

    VENUE DETAILS

*/



.VenueDetailsButton {
    width: 100px;
}

.EditContainer.show,
.VenueDetailsContainer.show {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.EditContainer.hide,
.VenueDetailsContainer.hide {
    display: none;
}

/*

    ARTIST PAGE

*/

/* Home */

.HomePageContainer {
    margin-top: 50px; 
}

.VenueListPageContainer img {
    width: 100%;
    margin: 24px auto;
    height: 400px;
    object-fit: cover;
}


.HeaderContent {
    position: relative;
}

.HeaderContent img {
    width: 100%;
    margin: 24px auto;
    height: 300px;
    object-fit: cover;
}

.HeaderContent h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Afacad', sans-serif !important;
    color: white;
    text-align: center;
}

/* Responsive styles */

@media (max-width: 1080px) {
    .HeaderContent {
        text-align: center;
        margin: 20px;
        margin-top: 0;
    }

    .HeaderContent h1 {
        font-size: 1.5em; 
        animation: none; 
    }

    .HeaderContent img {
        display: none;
    }
}